aiofiles
aiohttp
aiokafka
apscheduler
boto3
colorama
confluent-kafka
cryptography
faker
fastapi
gspread
gmqtt
google-auth
google-auth-oauthlib
grpcio
httpx
kafka-python
msal
mysql-connector-python
numpy
openpyxl
paho-mqtt
pandas
passlib
pdfkit
phonenumbers
pika
psycopg2-binary
pyfcm
pydantic
python-dotenv
pytz
razorpay
redis
requests
raven
sqlalchemy
starlette
uvicorn
asyncpg
aiomysql
python-jose
inflect
aioredis
cachetools
prometheus-client
PyYAML
